%h1= @movie.title
.jumbotron
  =image_tag @movie.cover, class: 'img-rounded img-xl'
  %article= @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
